---
comments: true
layout: post
title: Week 7
type: hacks
courses: { csp: {week: 7} }
categories: [C4.1]
---

# Naming Conventions

    - Must start with a letter or an underscore
    - Cannot start with a number 
    - Can only have alphanumeric characters or underscores 
    - Are case sensitive 
    - Cannot be python keywords such as 'else'

In [4]:
myName = "Tara"
print(myName)

Tara

In [5]:
1Tara = "16"

SyntaxError: invalid decimal literal (1241567343.py, line 1)

In [6]:
myAge = 16 
myage = 46

print(myAge)
print(myage)

16
46

In [7]:
else = 22

SyntaxError: invalid syntax (3346613889.py, line 1)

# Primitive v. Collection Data Types 

## Primitive Data Types 
    - int 
    - string 
    - float 
    - boolean 

## Collection Data Types 
    - list 
    - dictionary

In [ ]:
myInt = 20

myString = "My name is Tara"

myFloat = 77.29

myBool = False

In [10]:
agesOfMyFriendsList = [16, 20, 15, 12]

print(agesOfMyFriendsList)

[16, 20, 15, 12]
{'Tara': 16, 'Tanisha': 15, 'Dylan': 12}

In [15]:
agesOfMyFriendsDictionary = { "Tara" : 16, "Tanisha" : 15, "Dylan" : 12, "Tara " : 17}


print(agesOfMyFriendsDictionary["Tara"])

print(agesOfMyFriendsDictionary["Tara "])

16
17

# Concatenation 

## 'Joining' of strings and other types

In [17]:
myFirstName = "Tara"

myLastName = "Sehdave"

print(myFirstName + " " + myLastName)

Tara Sehdave

In [22]:
myFirstInt = 5

mySecondInt = 10 

print(myFirstInt + mySecondInt)

15

# Formatting allows us to display values using pre-decided rules

In [33]:
message = "My first name is {0} and my last name is {1}"

print(message.format("Tara", "Sehdave"))

print(message.format("Tanisha", "Patil"))

My first name is Tara and my last name is Sehdave
My first name is Tanisha and my last name is Patil

In [27]:
x = .77 

message = "Show this as a percentage {0:.0%}"

print(message.format(x))

print(message.format(.25))

Show this as a percentage 77%
Show this as a percentage 25%

In [31]:
message = "The binary value of {0} is {0:b} and the binary value of {1} is {1:b}"

print(message.format(7, 6836))

and the binary value of 6836 is 1101010110100

# Conversions

In [37]:
import json

myDictionary = {"A": 1, "B": 2}

print(myDictionary) 

myStringDictionary = json.dumps(myDictionary)

print(myStringDictionary)

myDictionaryRecreated = json.loads(myStringDictionary)

print(myDictionaryRecreated)

{'A': 1, 'B': 2}
{"A": 1, "B": 2}
{'A': 1, 'B': 2}

# Python Data Types in CB Pseudo Code 

## Primitive Types 

a <-- expression 
myInt <-- 18
myString <-- "My name is Tara"
myFloat <-- 6.8
myBool <-- False 

# Collection Types 

myList <-- [1, 2, 3]
No dictionary